
<meta name="description" content="Projekt Spring zawierający zbiór przekształceń projektów opartych na Spring Boot 2"/>
<meta name="keywords" content="Spring,boot,java,thymeleaf,project,code"/>
<meta name="author" content="Lukasz Pryjma, https://github.com/slaskww"/>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0"/>

<link rel="stylesheet" href="/webjars/bulma/0.7.5/css/bulma.min.css">

<script defer src="/webjars/font-awesome/5.10.1/js/all.min.js"></script>