
<meta name="description" content="Projekt Spring zawierający zbiór przekształceń projektów opartych na Spring Boot 2"/>
<meta name="keywords" content="Spring,boot,java,thymeleaf,project,code"/>
<meta name="author" content="Lukasz Pryjma, https://github.com/slaskww"/>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>