<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/}">
                <img class="is-rounded" src="/static/img/logo.png"
                     alt="wwksals logo"/>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/}">
                    Strona główna
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Więcej
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Link do niczego
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <div sec:authorize="${isAnonymous()}">
                            <a class="button is-primary" th:href="@{/register}">
                                <strong>Zarejestruj</strong>
                            </a>
                            <a class="button is-success" th:href="@{/login}">
                                <strong>Zaloguj</strong>
                            </a>
                        </div>
                       <div sec:authorize="${isAuthenticated()}">
                           <form th:method="post" th:action="@{/logout}">
                               <button class="button is-link" type="submit"><strong>Wyloguj</strong></button>
                               <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                           </form>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>