<html xmlns:th="http://www.thymeleaf.org">

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/}">
                <img class="is-rounded" src="/static/images/logo.png"
                     alt="wwksals logo"/>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/}">
                    Strona główna
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Więcej
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Link do niczego
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" th:href="@{/register}">
                            <strong>Zarejestruj</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>