<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
    <div th:replace="/fragments/head.html"></div>
</head>
<body>
<header>
    <div th:replace="/fragments/menu.html"></div>
</header>
<section class="hero is-bold is-medium">
    <div class="container">
        <div class="hero-body">
            <h1 class="title">
                PAP Project
            </h1>
            <h2 class="subtitle">
                Witaj w projekcie <strong>Spring Pagination & Projection</strong>
                <br/>Aplikacja oparta na frameworku Spring i Spring Boot
                zawierająca kilka interesującyh rozwinięć
            </h2>
        </div>
    </div>
</section>

<footer class="footer">
    <div th:replace="/fragments/footer.html"></div>
</footer>
</body>
</html>