<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:https="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
<header>
    <h1>Rejestracja</h1>
</header>
<section>
    <h1>Wypełnij dane rejestracyjne</h1>
    <div>
        <form th:action="@{/register}" th:method="post" th:object="${user}">
            <div th:if="${#fields.hasErrors()}">
                <fieldset>
                    <legend>Błędy:</legend>
                    <div th:each="error : ${#fields.errors()}">
                        <p th:text="${error}"></p>
                    </div>
                </fieldset>
            </div>
            <fieldset>
                <legend>Dane użytkownika</legend>
                <p>
                    <label for="username">Nazwa użytkownika:</label>
                    <input type="text" th:field="*{username}" id="username">
                </p>
                <p>
                    <label for="email">Adres email:</label>
                    <input type="email" th:field="*{email}" id="email">
                </p>
                <p>
                    <label for="password">Hasło:</label>
                    <input type="password" , th:field="*{password}" id="password">
                </p>
                <p>
                    <label for="rePassword">Powtórz hasło:</label>
                    <input type="password" th:field="*{rePassword}" id="rePassword">
                </p>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </fieldset>
            <fieldset>
                <legend>Akcja</legend>
                <p>
                    <input type="submit" value="Zarejestruj">
                </p>
            </fieldset>
        </form>
    </div>
</section>
<footer></footer>
</body>
</html>